/* ---- reset ---- */
html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    margin: 0 auto;
    padding: 0;
}


nav {
      width: 100%;
      padding: 0;
      height: 70px;
      background-color: #fff;
      margin: 0px 0px;    
     /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the top of the page */
      padding: 20px 0;

}

  
  /* ---- typography ---- */
body {
    font-size: 16px;
    line-height: 147%;
}
  
h1 {
      font-family: 'Slack-Tiempos',Times New Roman,Georgia,serif;
      color:#323648;
      font-size: 38px;
      font-weight: 500;
      line-height: 45px;
      letter-spacing: normal;
      text-align:left;
      
}
  
h2 {
    font-family: 'Slack-Tiempos',Times New Roman,Georgia,serif;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: normal;
    font-size: 28px;
    margin-bottom: 20px;
    color:#323648;
    text-align: center;
}
  
h3 {
    font-family: Slack-Tiempos,"Times New Roman",Georgia,serif;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: normal;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
    color:#323648;
    padding: 20px 0px;
}
  
p {
    font-family: 'Slack-Averta',appleLogo,sans-serif;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: normal;
    font-size: 16px;
    color: #5b5e6d;
    text-align: left;
}
  
img {
      max-width: 100%;
      margin-bottom: 10px;
      margin-top:10px;
} 
  

footer {
    font-family: 'Slack-Averta',appleLogo,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: normal;
    font-size: 16px;
}

li,ul {
   list-style-type: none;
   text-align: left;
   margin: 0;
   padding-inline-start: 0px;
}

li,ul a:link {
    text-decoration: none;
    color:#5b5e6d;
    padding-bottom: 20px;
 }



article.card {
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: left;
    display: flex;
}



article img {
    max-width: 100%;
    text-align: left;
}

  /* ---- layout ---- */
     
#site-main {
    margin-bottom: 60px;
}
  
.container {
    margin: 0 20px 0 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width:90%;
}
  
.section {
    margin-bottom: 20px;
    padding-top: 20px;
}


@media (min-width: 786px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 786px) {
    .header-block div {
        width: 100%;
    }
    article.card {
        width: 100%;
    }
}
@media (min-width: 787px) {
    .header-block div {
        width: 50%;
    }

    article.card {
        width: 46%;
    }
    .your-team article {
        width: 20%;
    }
}

.right {
    float: right;
}


/* ---- components ---- */
  
.purple-button {
    background-color: #3f46ad;
    color: #fff;
    border-radius: 4px;
    width: 100%;
    padding: 19px 40px 20px;
    display: block;
    text-align: center;
    max-width: 767px;
    margin: 20px 0;
    text-decoration:none;
    text-transform: uppercase;
    font-family: 'Slack-Averta',appleLogo,sans-serif;    
}


.white-button {
    background-color: #ffffff;
    color: #3f46ad;
    border-radius: 4px;
    width: 100%;
    padding: 19px 40px 20px;
    display: block;
    text-align: center;
    max-width: 767px;
    margin: 20px 0;
    text-decoration:none;
    text-transform: uppercase;
    font-family: 'Slack-Averta',appleLogo,sans-serif;    
}

.logo {
    width: 50%;
    padding: 20px 0px;
    float: left;
}

.menu {
    width: 50%;
    padding: 20px 0px;
    position: relative;
    float: right;
}

.purple-block {
  background-color:#4049AA;
  padding: 20px 0;
}


#for-free h3 {
  color:white;
}

#for-free button {
  background-color: white;
  border-radius: 4px;
  width: 100%;
  padding: 19px 40px 20px;
  display: block;
  text-align: center;
  max-width: 767px;
  margin: 20px 0;
  font-size: 16px;
  text-align:center;
}
  
.header-block {
  text-align:left;
}

.a-purple {
  text-decoration: none;
  color: #4049AA;
}

.bottom-page {
  background-color: #F5F5F5;
  padding: 20px 0;
}

.bottom-left {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

div.bottom-left{
    width: 50%;
}
.bottom-right {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
}

div.bottom-right{
    width: 50%;
}

.bottom-right li {
    padding-right: 20px;
}

.bottom-left li {
    padding-right: 20px;
}

.semi-bottom-page div{
    width: 20%;
    display: flex;
    align-content: flex-end;

}

.card {
  box-shadow: 0 0 2rem rgba(0,0,0,.1);
  padding-top: 20px;
  padding-bottom: 20px;
 
}

#pointer-section a:not(.a-purple){
  text-decoration:none;
  cursor: pointer;
  color: #3f46ad;
}

.read-more {
  padding: 10px;
  text-transform: uppercase;
}

.main {
    width: 100%;
}


.two-big-images {
    width: 50%;
}

.header-block {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    display: flex;
}
/*
.header-block div {
    width: 50%;
}
*/


.your-team {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
}

/*
.your-team article {
    width: 10%;
}
*/

#bottom-page a:not(.a-purple){
    text-decoration:none;
    cursor: pointer;
    color: #3f46ad;

}

  /* ---- section ---- */
  
section.testimonials .button {
    margin-bottom: 10px;
}

.footer-list {
  padding-top: 20px;
  padding-bottom:20px;
}

.footer-list a:not(.a-purple) {
    text-decoration:none;
    color: #6d6f7b;
}

.clear {
    clear: both;
}