html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    margin: 0;
    padding: 0;
}


.center{
    text-align: center;
}

.container{
    margin: 0 40px;
}

.button{
    width: 100%;
    height: 50px;
 
    border: none;

    border-radius: 5px;
}

.introduction .button{
    background-color: #3f46ad;
    color: white;
}

.download .button{
    background-color: white;
    color: #1c299d;
}

img{
    width: 100%;
}

.characteristics img{
    width: 25%;
}

ul{
    list-style-type: none;
    padding: 0;
}

article{
    box-shadow: 0px 0px 7px rgb(167, 164, 164);
}

section.download{
    background-color: #1c299d;
    color: white;
    padding: 70px 0px;
}

footer>ul>li{
    width: 50%;
    float: left;
}

nav img{
    height: 50%;
    width: auto;
    margin: 20px 0px;
}

header{
    width: 100%;
    background-color: white; 
    height: 65px;   
    position: fixed;
    top: 0;
}

nav{
    width: 100%;
    height: 100%;
}

main{
    margin-top: 65px;
}